

<!--To Test Appointment of Patient and Doctor-->
@* <a asp-action="GetAppointmentsByPatient" asp-controller="Appointment" asp-route-PatientId="1" class="btn btn-primary">View My Appointments as a Patient</a>
<a asp-action="GetAppointmentsByDoctor" asp-controller="Appointment" asp-route-StaffId="5" class="btn btn-primary">View My Appointments as a Doctor </a>
 *@