@model HospitalManagementSystem2.Models.Schedule

<h1>Create Schedule</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AvailableFrom" class="control-label"></label>
        <input asp-for="AvailableFrom" class="form-control" />
        <span asp-validation-for="AvailableFrom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AvailableTo" class="control-label"></label>
        <input asp-for="AvailableTo" class="form-control" />
        <span asp-validation-for="AvailableTo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

