@model Patient
@* @{
    Layout = "~/Views/Shared/_Hospital1Layout.cshtml";
} *@
@{
    ViewData["Title"] = "Add New Patient";
    //SelectList userOptions = new SelectList(ViewBag.usersList, "Id", "Name");
}

<form method="post" action="/Patient/AddPatient">
    <h3>Add New Patient</h3>
    <div class="">
       @*  <div class="form-group">
                <input type="text" name="Name" id="Name"value="@Model?.User.Name" class="form-control" placeholder="Name">
        </div> *@
       @*  <div class="form-group">
                <input type="email" name="Email" id="Email" value="@Model?.User.Email"class="form-control" placeholder="E-mail">
        </div> *@
       @*  <div class="form-group">
                <input type="password" name="Password" id="Password"value="@Model?.User.Password" class="form-control" placeholder="Password">
        </div> *@
        <input type="hidden" name="UserId" value="@ViewBag.UserId" />
        <div class="form-group">
            <input type="text" name="Address" id=" Address" value="@Model?.Address" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
                <input type="text" name="EmergencyContact" id=" EmergencyContact"value="@Model?.EmergencyContact" class="form-control" placeholder="Emergency Contact">
        </div>
        <div class="form-group">
                <input type="text" name="InsuranceNumber" id="InsuranceNumber" value="@Model?.InsuranceNumber"class="form-control" placeholder="Insurance Number">
        </div>
        <div class="form-group">
                <input type="text" name="InsuranceProvider" id="InsuranceProvider" value="@Model?.InsuranceProvider"class="form-control" placeholder="Insurance Provider">
        </div>
        <div class="form-group">
            <div class="input-wrap">
                <input type="datetime" name="Dob" id=" Dob" value="@Model?.Dob" class="form-control" placeholder="Date of Birth">
            </div>
        </div>
    </div>
    <div class="">
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary">
        </div>
    </div>
</form>





